<div id="main" class="container">
	<div class="row">
		<div id="sidebar" class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			<ul>
				<li>Kategori 1</li>
				<li>Kategori 2</li>
				<li>Kategori 3</li>
				<li>Kategori 4</li>
			</ul>
		</div>
	</div>
</div>